<div class="modal-content">
    <div class="modal-header" *ngIf="title">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss(false)">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn me-3" [ngClass]="buttonConfirmClass" (click)="activeModal.close(true)"
            *ngIf="buttonConfirmLabel">{{buttonConfirmLabel}}</button>
        <button type="button" class="btn" [ngClass]="buttonDeclineClass" (click)="activeModal.close(false)"
            *ngIf="buttonDeclineLabel">{{buttonDeclineLabel}}</button>
    </div>
</div>